<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MedWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand mr-5" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item ml-5 mr-5">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Medicinces</a>
                        </li>
                        <li class="nav-item ml-5 mr-5">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Doctors</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 MedWeb was created by Hristiyan Dimitrov
            <a class="float-right ml-5" href="https://www.linkedin.com/in/hristiyan-dimitrov-a044801a3/"><img src="~/img/linkedInLogo.png" width="30" height="30" alt="Image not found" class="rounded"></a>
            <a class="float-right ml-5" href="https://github.com/hris-sys"><img src="~/img/gitHubLogo.png" width="30" height="30" alt="Image not found" class="rounded-circle"></a>
            <a class="float-right ml-5" href="https://www.facebook.com/profile.php?id=100001836391069"><img src="~/img/facebookLogo.png" width="30" height="30" alt="Image not found" class="rounded"></a>
            <span class="float-right">You can find me here:</span>
        </div>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
