@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5 mb-5 w3-animate-zoom">
    <h1>Welcome to:</h1>
    <img class="image-index" src="~/img/Index_Logo.png" />
</div>
<div class="text-center mt-5 w3-animate-opacity">
    <div class="border-left border-right row">
        <div class="col-md-5 ml-5">
            <div class="media">
                <img src="~/img/random-index-person.jpg" class="person-image-index mt-3" alt="Image missing" />
                <div class="media-body mt-2 ml-5">
                    <h6><b>John Kohl, CEO of Spotify</b></h6>
                    <h6>
                        The ToDoApp provides excellent productivity boost!
                        Its intuitive design and user-friendly UI always makes me
                        come back to this great idea for an app! &#128077;&#127995;
                    </h6>
                </div>
            </div>
        </div>
        <div class="vl"></div>
        <div class="col-md-5 ml-5">
            <div class="media">
                <img src="~/img/elon-index.jpg" class="person-image-index2 mt-1" alt="Image missing" />
                <div class="media-body mt-2 ml-5">
                    <h6><b>Elon Musk, CEO of Tesla, SpaceX and many more..</b></h6>
                    <h6>
                        Honestly, I wanted to buy this app but I hired
                        the person who made it instead... Great
                        features, easy to use, no AI though... Kinda sad &#x1F613;
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>
