<a class="btn btn-primary btn-block text-white" asp-action="GetAllReceivedMessages">Inbox</a>
<a class="btn btn-info btn-block text-white" asp-action="GetAllSentMessages">Sent</a>
<a class="btn btn-secondary btn-block text-white" asp-action="GetDeletedMessages">Deleted</a>