@model IEnumerable<NoteViewModel>
@{
    ViewData["Title"] = "Index";
}
<div>
    <a class="btn btn-primary" asp-action="Create">Create a new note</a>
</div>
@foreach (var item in Model)
{
    <div class="">Title: @item.Title</div>
    <div class="">Description: @item.Description</div>
    <div class="">Category name: @item.CategoryName</div>
    <div class="">Created on: @item.CreatedOn</div>
}

